@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

/* Card component styles list */
.main-container {
  width: 1280px;
  max-width: 100%;
  position: relative;
  display: block;
  top: 225px;
  margin-left: 0px;
}

.card-content:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.card-content {
  width: 370px;
  height: 600px;
  display: flex;
  word-spacing: normal;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  border: 1px solid #dddddd8a;
  border-radius: 12px;
  color: #222222;
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding: px;
  z-index: 100;
}

.card-title {
  text-align: left;
  width: 100%;
  height: 5px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-content p {
  width: 100%;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.div-line {
  width: 90px;
  border-bottom: #ebebeb 1px solid;
  margin: 15px;
}

.card-content img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  filter: saturate(85%) brightness(100%);
}

.card-content img:hover {
  width: 100%;
  background-color: white;
  filter: saturate(90%) brightness(100%);
  opacity: 85%;
  transition: 0.4s;
  cursor: pointer;
}

.card-extrainfo {
  position: absolute;
  top: 480px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 200px;
  height: 104px;
  margin: 0px;
}

.location-info {
  display: flex;
  justify-items: center;
  width: 175px;
  height: 25px;
  background-color: #f1f1f16e;
  border-left: #c7c7c7 20px solid;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #919191;
  font-size: 12px;
  margin: 15px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.rooms-info {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 25px;
  background-color: #f1f1f16e;
  border-left: #c7c7c7 20px solid;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #919191;
  font-size: 12px;
  margin: 15px;
  padding: 5px;
  margin-top: 4px;
}

.price-info {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 25px;
  background-color: #f1f1f16e;
  border-left: #c7c7c7 20px solid;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #919191;
  font-size: 12px;
  margin: 15px;
  padding: 5px;
  margin-top: 0px;
}

.card-button-container {
  position: absolute;
  display: inline-block;
  top: 65px;
  left: 265px;
  width: 90px;
  height: 40px;
}

#card-button {
  width: 90px;
  height: 40px;
  border-radius: 25px;
  background: #ff385c;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}

#card-button:hover {
  background: radial-gradient(
    circle at left,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}
