@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

.subtitle {
  position: relative;
  width: 100%;
  top: 150px;
  right: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #222222;
  font-size: 37px;
}

/* Fixed navigation bar */
.top-header {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  z-index: 103;
  padding-left: 320px;
  padding-right: 320px;
  align-items: center;
}

/* Main title */
.title {
  position: relative;
  width: 250px;
  top: 0px;
  left: -90px;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  line-height: 37px;
  height: 75px;
  color: rgb(32, 32, 32);
  font-weight: 400;
  cursor: pointer;
  padding-top: 20px;
}

.title span {
  font-size: 16px;
}

.login-btn {
  position: relative;
  left: 705px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  width: 75px;
  height: 40px;
  border: 1px solid #ff385c;
  border-radius: 20px;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #ff385c;
  z-index: 101;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.123);
}

.navbar {
  position: relative;
  top: 0px;
  left: -332px;
  width: 450px;
  height: 75px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar a {
  line-height: 32.5px;
  cursor: pointer;
  text-decoration-line: none;
  color: rgb(32, 32, 32);
}

.navbar a:hover {
  color: rgb(46, 46, 46);
  text-decoration-line: overline;
  font-size: 16.5px;
  font-weight: bold;
  transition: all 0.1s ease;
}

/* Big header image */
.header-container {
  position: relative;
  top: 125px;
  width: 1280px;
  height: 480px;
  display: flex;
  background-image: url(https://i.imgur.com/gqUm39j.jpg);
  /* background-image: url(https://i.imgur.com/9iW0xKr.jpg); */
  /* background-image: url(https://i.imgur.com/zUZ0gjg.jpg); */
  background-size: 100%;
  background-position-y: -100px;
  border-radius: 16px;
}

/* .header-container:hover {
  transition-property: 1s ease;
} */

.header-container span {
  position: absolute;
  top: 415px;
  right: 20px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: rgb(255, 255, 255);
  display: block;
  width: 25%;
}

/* Search space */
.button {
  position: relative;
  display: block;
  top: 100px;
  font-family: "Roboto", sans-serif;
  width: 20%;
  height: 45px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  outline: none;
  color: rgb(167, 167, 167);
  background-color: rgba(255, 255, 255, 0.219);
  z-index: 105;
  text-align: left;
  padding-left: 17px;
}

.button:hover {
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.123);
}

.button::placeholder {
  text-align: left;
  color: rgb(167, 167, 167);
  padding: 20px;
}

/* --------media test--------- */

@media (min-width: 576px) and (max-width: 1902px) {
  .top-header {
    padding-left: 125px;
    padding-right: 125px;
  }
}
